<link rel="stylesheet" href="/css/user_profile.css">
        <ul>Users


            <% for( let i = 0; i < users.length; i++ ) { %>

                <li> <%= users[i] %></li>
            
            <% } %>
            
        </ul>
