<html>
    <head>
        <title>
            <%= title%>
        </title>
    </head>
    <body>
        <ul>Users

            <% for( let i = 0; i < users.length; i++ ) { %>

                <li> <%= users[i] %></li>
            
            <% } %>
            


        </ul>
    </body>
</html>