

<div class="sinup">
        <h1>Sign up</h1>

    <form action="/users/create" method="POST">

        <!-- <label for="name">UserName</label> -->
        <input type="name" name="name" id="" placeholder="Enter your name.." required>
        <br>
        <!-- <label for="email">Email:</label> -->
        <input type="email" name="email" id="" placeholder="Enter Email.." required>
        <br>
        <!-- <label for="password">Password</label> -->
        <input type="password" name="password" placeholder="Set Password" required>
<br>
        <!-- <label for="confirm_password">Confirm Password</label> -->
        <input type="password" name="confirm_password" placeholder="Confirm Password" required>
        
        
<br>
        <button type="submit">Submit</button>
    </form>
    

</div>